* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: #219ebccc;
}
#game-field {
  display: flex;
  justify-content: space-around;
  margin-top: 12rem;
}
.hand {
  font-size: 16rem;
}
.hand.right {
  /* left: 28rem; */
  transform: scaleX(-1) rotate(90deg);
  margin-right: 20rem;
  padding-right: 1rem;
  color: #ffb703;
}
.hand.left {
  /* right: 28rem; */
  transform: rotate(90deg);
  margin-left: 20rem;
  padding-left: 1rem;
  color: #023047;
  /* -webkit-transform: scaleX(-1); */
}
.hand.left.fa-hand-scissors {
  transform: scaleX(-1);
}
.hand.right.fa-hand-scissors {
transform: revert;
}
#game-buttons {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.action {
  font-size: 5rem;
  padding: 0.5rem;
  color: #023047;
  background-color: #ffb703;
}
.rock {
  transform: rotate(90deg);
}
.scissors {
  transform: scaleX(-1);
}
.paper {
  transform: scaleX(-1);
}
#score-field {
  font-size: 3rem;
  display: flex;
  font-family: sans-serif;
  justify-content: space-evenly;
}
#main-score {
  color: #023047;
  font-size: 5.2rem;
  margin-top: 3rem;
}
#ai-score {
  color: #ffb703;
  font-size: 5.2rem;
  margin-top: 3rem;
}
button {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  border: dashed;
  background-color: #ffb703;
}
